<div id="footer">
  <div class="col-md-offset-1 col-md-10 col-xs-12">
    <div class="contain-top">
      <section class="col-sm-3 col-xs-6 detail">
        <b>CYBER PHIM</b>
        <br>
        <a href="">FAQ</a>
        <p>
          <a href="">Điều Khoản Sử Dụng</a>
          <br>
          <a href="">Quy Chế Hoạt Động</a>
          <br>
          <a href="">Chính Sách Bảo Mật</a>
          <br>
          <a href="">Chính Sách Thanh Toán</a>
        </p>
      </section>
      <section class="col-sm-3 partner">
        <b>Đối Tác</b>
        <br>
        <div class="icon col-sm-3">
          <img src="assets/Images/cinema_logo/cgv.png" class="img-responsive img-circle">
          <div class="blur-icon"></div>
        </div>
        <div class="icon col-sm-3">
          <img src="assets/Images/cinema_logo/galaxycine_icon.png" class="img-responsive img-circle">
          <div class="blur-icon"></div>
        </div>
        <div class="icon col-sm-3">
          <img src="assets/Images/cinema_logo/lotte_icon.png" class="img-responsive img-circle">
          <div class="blur-icon"></div>
        </div>
        <div class="icon col-sm-3">
          <img src="assets/Images/cinema_logo/bhd.png" class="img-responsive img-circle">
          <div class="blur-icon"></div>
        </div>
        <div class="icon col-sm-3">
          <img src="assets/Images/cinema_logo/cinestar_logo.jpg" class="img-responsive img-circle">
          <div class="blur-icon"></div>
        </div>
        <div class="icon col-sm-3">
          <img src="assets/Images/cinema_logo/Mega.png" class="img-responsive img-circle">
          <div class="blur-icon"></div>
        </div>
        <div class="icon col-sm-3">
          <img src="assets/Images/cinema_logo/dongda_icon.png" class="img-responsive img-circle">
          <div class="blur-icon"></div>
        </div>
      </section>
      <section class="col-sm-3 col-xs-6 cskh">
        <b>Liên Hệ</b>
        <br>
        <p>Hot line: 1900 1234</p>

        <p>Giờ làm việc: 8:00-22:00
          <br> (Lễ tết: 8:00-12:00)</p>

        <p>Email hỗ trợ:
          <a>cyberphim@abc.com</a>
        </p>
      </section>
      <section class="col-sm-3 col-xs-12 social">
        <b>Kết Nối Với Chúng Tôi</b>
        <br>
        <div class="icon col-xs-2 col-sm-3">
          <img src="assets/Images/Facebook-Logo.png" class="img-responsive">
          <div class="blur-icon"></div>
        </div>
        <div class="icon col-xs-2 col-sm-3">
          <img src="assets/Images/instagram_PNG9.png" class="img-responsive">
          <div class="blur-icon"></div>
        </div>
        <div class="icon col-xs-2 col-sm-3">
          <img src="assets/Images/Logo_Zalo.png" class="img-responsive">
          <div class="blur-icon"></div>
        </div>
      </section>
    </div>
    <div class="contain-bot">
      <section class="col-sm-3 logo">
        <img src="assets/Images/MIN-OP1.png" class="img-responsive">
      </section>
      <section class="col-sm-6 col-xs-8">
        <b>CYBER PHIM - Sản phẩm của Cybersoft.edu.vn</b>
        <p>Địa chỉ: asufikdsuho, aiefgiagfia,gagaegoiesag, TP. Hồ Chí Minh
          <br> Số ĐKKD: 0123456789, cấp ngày xx/xx/2017 - Sở KHĐT TP. Hồ Chí Minh cấp
        </p>
      </section>
      <section class="col-sm-3 col-xs-4 logo">
        <img src="assets/Images/chungnhan.png" class="img-responsive">
      </section>
    </div>
  </div>
</div>
