<div class="row" id="home-cinema">
  <div class="col-xs-offset-1 col-xs-10 block">
    <div class="title">Cụm Rạp</div>
    <!-- List Icon -->
    <ul class="list-icon nav nav-tabs nav-center">
      <li class="icon active">
        <a href="#cgv" data-toggle="tab">
          <img src="assets/Images/cinema_logo/cgv.png" class="img-responsive img-circle">
          <div class="blur-icon"></div>
        </a>
      </li>
      <li class="icon">
        <a href="#glx" data-toggle="tab">
          <img src="assets/Images/cinema_logo/galaxycine_icon.png" class="img-responsive img-circle">
          <div class="blur-icon"></div>
        </a>
      </li>
      <li class="icon">
        <a href="#ltc" data-toggle="tab">
          <img src="assets/Images/cinema_logo/lotte_icon.png" class="img-responsive img-circle">
          <div class="blur-icon"></div>
        </a>
      </li>
      <li class="icon">
        <a href="#bhd" data-toggle="tab">
          <img src="assets/Images/cinema_logo/bhd.png" class="img-responsive img-circle">
          <div class="blur-icon"></div>
        </a>
      </li>
      <li class="icon">
        <a href="#cns" data-toggle="tab">
          <img src="assets/Images/cinema_logo/cinestar_logo.jpg" class="img-responsive img-circle">
          <div class="blur-icon"></div>
        </a>
      </li>
      <li class="icon">
        <a href="#mgs" data-toggle="tab">
          <img src="assets/Images/cinema_logo/Mega.png" class="img-responsive img-circle">
          <div class="blur-icon"></div>
        </a>
      </li>
      <li class="icon">
        <a href="#ddc" data-toggle="tab">
          <img src="assets/Images/cinema_logo/dongda_icon.png" class="img-responsive img-circle">
          <div class="blur-icon"></div>
        </a>
      </li>
    </ul>
    <!-- Lịch chiếu -->
    <div class="cinema tab-content">
      <!-- List cinema -->
      <!-- CGV -->
      <div class="col-md-offset-0 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12 border-box list-left tab-pane fade in active" id="cgv">
        <perfect-scrollbar [config]="config">
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/cgv-aeon-binh-tan.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>CGV - Aeon Bình Tân</p>
              <p>Tầng 3, TTTM Aeon Bình Tân, Số 1 đường số 17A, khu phố 11, Bình Trị Đông B, Bình Tân</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/cgv-celadon-tan-phu.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>CGV - Celadon Tân Phú</p>
              <p>30 Bờ Bao Tân Thắng, Sơn Kỳ, Tân Phú</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/cgv-crescent-mall.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>CGV - Crescent Mall</p>
              <p>Tầng 5, Crescent Mall, Đại lộ Nguyễn Văn Linh, Phú Mỹ Hưng, Q.7</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/cgv-ct-plaza.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>CGV - CT Plaza</p>
              <p>60A Trường Sơn, P.2, Tân Bình</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/cgv-golden-plaza.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>CGV - Golden Plaza</p>
              <p>Tầng 4, Golden Plaza, 922 Nguyễn Trãi, P.14, Q.5</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/cgv-hoang-van-thu.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>CGV - Hoàng Văn Thụ</p>
              <p>Tầng 1 và 2 Gala Center, 415 Hoàng Văn Thụ, P.2, Tân Bình</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/cgv-hung-vuong-plaza.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>CGV - Hùng Vương Plaza</p>
              <p>Tầng 7, Hùng Vương Plaza, 126 Hùng Vương, Q.5</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/cgv-celadon-tan-phu.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>CGV - Celadon Tân Phú</p>
              <p>30 Bờ Bao Tân Thắng, Sơn Kỳ, Tân Phú</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/cgv-liberty-citypoint.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>CGV - Liberty Citypoint</p>
              <p>Tầng M-1, khách sạn Liberty Center Saigon Citypoint, 59-61 Pateur, Q.1</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/cgv-pandora-city.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>CGV - Pandora City</p>
              <p>Tầng 3, Pandora City, 1/1 Trường Chinh, Tân Phú</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/cgv-parkson-dong-khoi.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>CGV - Parkson Đồng Khởi</p>
              <p>Tầng 5, Parkson Đồng Khởi, 35bis-45 Lê Thánh Tôn, Bến Nghé, Q.1</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/cgv-parkson-paragon.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>CGV - Parkson Paragon</p>
              <p>Tầng 5, toà nhà Parkson Paragon, 03 Nguyễn Lương Bằng, Q.7</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/cgv-pearl-plaza.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>CGV - Pearl Plaza</p>
              <p>Tầng 5, Pearl Plaza, 561 Điện Biên Phủ, Bình Thạnh</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/cgv-saigonres-nguyen-xi.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>CGV - Saigonres Nguyễn Xí</p>
              <p>Tầng 4-5, Saigonres Plaza, 79/81 Nguyễn Xí, P.26, Bình Thạnh</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/cgv-vincom-dong-khoi.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>CGV - Vincom Đồng Khởi</p>
              <p>Tầng 3, TTTM Vincom Center B, 72 Lê Thánh Tôn, Bến Nghé, Q.1</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/cgv-vincom-go-vap.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>CGV - Vincom Gò Vấp</p>
              <p>Tầng 5, TTTM Vincom Gò Vấp, 12 Phan Văn Trị, P.7, Gò Vấp</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/cgv-vincom-thu-duc.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>CGV - Vincom Thủ Đức</p>
              <p>Tầng 5, Vincom Thủ Đức, 216 Võ Văn Ngân, Bình Thọ, Thủ Đức</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/cgv-vivocity.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>CGV - SC VivoCity</p>
              <p>Tầng 5, TTTM SC VivoCity, 1058 Nguyễn Văn Linh, Q.7</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
        </perfect-scrollbar>
      </div>

      <!-- Galaxy -->
      <div class="col-md-offset-0 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12 border-box list-left tab-pane fade" id="glx">
        <perfect-scrollbar [config]="config">
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/glx-huynh-tan-phat.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>Galaxy Huỳnh Tấn Phát</p>
              <p>80/4A Huỳnh Tấn Phát, Phú Mỹ, Q.7</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/glx-kinh-duong-vuong.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>Galaxy Kinh Dương Vương</p>
              <p>718bis Kinh Dương Vương, Q.6</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/glx-nguyen-du.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>Galaxy Nguyễn Du</p>
              <p>116 Nguyễn Du, Q.1</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/glx-pham-van-chi.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>Galaxy Phạm Văn Chí</p>
              <p>Tầng 5, TTTM Platinum Plaza, 634 Phạm Văn Chí, Q.6</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/glx-quang-trung.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>Galaxy Quang Trung</p>
              <p>Tầng 3, Co.opmart Foodcosa, 304A Quang Trung, Gò Vấp</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/glx-tan-binh.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>Galaxy Tân Bình</p>
              <p>246 Nguyễn Hồng Đào, Tân Bình</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/glx-trung-chanh.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>Galaxy Trung Chánh</p>
              <p>TTVH Q12 – 09, Q L 22, Trung Mỹ Tây , Q.12</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
        </perfect-scrollbar>
      </div>

      <!-- Lotte -->
      <div class="col-md-offset-0 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12 border-box list-left tab-pane fade" id="ltc">
        <perfect-scrollbar [config]="config">
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/lotte-cantavil.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>Lotte Cinema Cantavil</p>
              <p>Tầng 7, Cantavil Premier, Xa Lộ Hà Nội, Q.2</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/lotte-cong-hoa.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>Lotte Cinema Cộng Hòa</p>
              <p>Tầng 4, Pico Plaza, 20 Cộng Hòa, Tân Bình</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/lotte-diamond.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>Lotte Cinema Diamond</p>
              <p>Tầng 3, Diamond Plaza, 34 Lê Duẩn, Q.1</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/lotte-go-vap.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>Lotte Cinema Gò Vấp</p>
              <p>Tầng 3, Lotte Mart, 242 Nguyễn Văn Lượng, Gò Vấp</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/lotte-nam-sai-gon.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>Lotte Cinema Nam Sài Gòn</p>
              <p>Tầng 3, Lotte Mart NSG, 469 Nguyễn Hữu Thọ, Q.7</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/lotte-nowzone.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>Lotte Cinema Nowzone</p>
              <p>Tầng 5, Nowzone, 235 Nguyễn Văn Cừ, Q.1</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/lotte-phu-tho.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>Lotte Cinema Phú Thọ</p>
              <p>Tầng 4, Lotte Mart Phú Thọ, Q.11</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/lotte-thu-duc.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>Lotte Cinema Thủ Đức</p>
              <p>Tầng 2, Joy Citipoint, KCX Linh Trung, Thủ Đức</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
        </perfect-scrollbar>
      </div>

      <!-- BHD -->
      <div class="col-md-offset-0 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12 border-box list-left tab-pane fade" id="bhd">
        <perfect-scrollbar [config]="config">
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/bhd-3-2.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>BHD Star Vincom 3/2</p>
              <p>Tầng 4, Vincom 3/2, 3C Đường 3/2, Q.10</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/bhd-bitexco.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>BHD Star Bitexco</p>
              <p>Tầng 3, Bitexco Icon 68, 2 Hải Triều, Q.1</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/bhd-pham-hung.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>BHD Star Vincom Phạm Hùng</p>
              <p>Tầng 4, Satra Phạm Hùng, C6/27 Phạm Hùng, Bình Chánh</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/bhd-quang-trung.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>BHD Star Vincom Quang Trung</p>
              <p>Tầng B1, Vincom Quang Trung, 190 Quang Trung, Gò Vấp</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/bhd-vincom-le-van-viet.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>BHD Star Vincom Lê Văn Việt</p>
              <p>Tầng 4, Vincom Plaza, 50 Lê Văn Việt, Q.9</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/bhd-vincom-thao-dien.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>BHD Star Vincom Thảo Điền</p>
              <p>Tầng 5, Megamall, 159 XL Hà Nội, Q.2</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
        </perfect-scrollbar>
      </div>

      <!-- Cinestar -->
      <div class="col-md-offset-0 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12 border-box list-left tab-pane fade" id="cns">
        <perfect-scrollbar [config]="config">
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/cinestar-hai-ba-trung.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>CineStar Hai Bà Trưng</p>
              <p>135 Hai Bà Trưng, Bến Nghé, Q.1</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/cinestar-quoc-thanh.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>CineStar Quốc Thanh</p>
              <p>271 Nguyễn Trãi, Q.1</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
        </perfect-scrollbar>
      </div>

      <!-- Mega -->
      <div class="col-md-offset-0 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12 border-box list-left tab-pane fade" id="mgs">
        <perfect-scrollbar [config]="config">
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/mega-gs.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>Mega GS Cao Thắng</p>
              <p>19 Cao Thắng, Q.3</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
        </perfect-scrollbar>
      </div>
      <!-- Đống Đa -->
      <div class="col-md-offset-0 col-md-4 col-sm-offset-1 col-sm-10 col-xs-12 border-box list-left tab-pane fade" id="ddc">
        <perfect-scrollbar [config]="config">
          <section class="cinema-item">
            <div class="border-img col-sm-4 col-md-3 col-xs-3">
              <img src="assets/Images/cinema_small/dong-da.jpg" class="img-responsive img-item">
            </div>
            <div class="content col-sm-8 col-md-9 col-xs-9">
              <p>Đống Đa Cinema</p>
              <p>890 Trần Hưng Đạo, Q.5</p>
              <a href="">[chi tiết]</a>
            </div>
          </section>
        </perfect-scrollbar>
      </div>
      <!-- Danh sách phim -->
      <div class="col-md-8 border-box list-right">
        <perfect-scrollbar [config]="config">
          <section class="show-time-cinema">
            <div class="border-phim col-md-3">
              <img src="assets/Images/now_showing/justice-league-c16.jpg" class="img-responsive img-item img-rounded">
            </div>
            <div class="content col-md-9">
              <b>Justice League</b>
              <span class="limit-age c13"> C13 </span>
              <div class="clearfix"></div>
              <div class="show-time">
                <div class="cinema-type">
                  <img src="assets/Images/2D.png" class="img-responsive">
                  <article>
                    <a href="">08:50</a>
                    <a href="">10:20</a>
                    <a href="">11:30</a>
                    <a href="">13:00</a>
                    <a href="">14:10</a>
                    <a href="">15:40</a>
                    <a href="">16:50</a>
                    <a href="">18:20</a>
                    <a href="">19:30</a>
                    <a href="">22:10</a>
                    <a href="">23:40</a>
                  </article>
                </div>
                <div class="cinema-type">
                  <img src="assets/Images/3D.png" class="img-responsive">
                  <article>
                    <a href="">08:20</a>
                    <a href="">11:00</a>
                    <a href="">13:40</a>
                    <a href="">16:20</a>
                    <a href="">19:00</a>
                    <a href="">21:40</a>
                  </article>
                </div>
              </div>
            </div>
          </section>

          <section class="show-time-cinema">
            <div class="border-phim col-md-3">
              <img src="assets/Images/now_showing/co-ba-sai-gon.jpg" class="img-responsive img-item img-rounded">
            </div>
            <div class="content col-md-9">
              <b>Cô Ba Sài Gòn</b>
              <span class="limit-age p"> P </span>
              <div class="clearfix"></div>
              <div class="show-time">
                <div class="cinema-type">
                  <img src="assets/Images/2D.png" class="img-responsive">
                  <article>
                    <a href="">08:40</a>
                    <a href="">10:50</a>
                    <a href="">13:10</a>
                    <a href="">15:20</a>
                    <a href="">17:40</a>
                    <a href="">19:50</a>
                    <a href="">22:00</a>
                  </article>
                </div>
              </div>
            </div>
          </section>

          <section class="show-time-cinema">
            <div class="border-phim col-md-3">
              <img src="assets/Images/now_showing/the-mountain-between-us.jpg" class="img-responsive img-item img-rounded">
            </div>
            <div class="content col-md-9">
              <b>Ngọn Núi Giữa Hai Ta</b>
              <span class="limit-age c16"> C16 </span>
              <div class="clearfix"></div>
              <div class="show-time">
                <div class="cinema-type">
                  <img src="assets/Images/2D.png" class="img-responsive">
                  <article>
                    <a href="">09:10</a>
                    <a href="">12:50</a>
                    <a href="">17:45</a>
                    <a href="">22:30</a>
                  </article>
                </div>
              </div>
            </div>
          </section>
        </perfect-scrollbar>
      </div>
    </div>
  </div>
</div>
