<div class="row" id="home-news">
  <div class="col-xs-offset-1 col-xs-10 block">
    <div class="title">Tin Tức</div>
    <section class="news-item row">
      <div class="border-img col-sm-4 col-xs-12">
        <img src="assets/Images/justice-league-review.jpg" class="img-responsive img-rounded">
      </div>
      <div class="contain col-sm-8 col-xs-12">
        <b>[Review] Justice League: Phim Mới, Tranh Cãi Mới</b>
        <br>
        <i class="fa fa-eye"> 456 </i>
        <i class="fa fa-thumbs-up"> 123</i>
        <p>Jusitce League lại một lần nữa gây ra tranh cãi. Dù điểm số trên các trang phê bình hết sức tệ hại nhưng bộ phim
          mới này chắc chắn là một bước tiến lớn của DCEU. Và vẫn như mọi khi, các fan DC Comic vẫn luôn ủng hộ các siêu
          anh hùng nhà mình hết lòng.</p>
        <a (click)="RouterNews()">Chi tiết ...</a>
      </div>
    </section>
    <section class="news-item row">
      <div class="border-img col-sm-4 col-xs-12">
        <img src="assets/Images/dan-my-nhan-da-the-he-trong-co-ba-sai-gon.jpg" class="img-responsive img-rounded">
      </div>
      <div class="contain col-sm-8 col-xs-12">
        <b>Dàn mỹ nhân đa thế hệ trong 'Cô Ba Sài Gòn'</b>
        <br>
        <i class="fa fa-eye"> 456 </i>
        <i class="fa fa-thumbs-up"> 123</i>
        <p>Ngoài diễn viên trẻ như Diễm My 9x, Lan Ngọc, phim về áo dài còn quy tụ các người đẹp vang bóng một thời như Diễm
          My, Thủy Hương.</p>
        <a (click)="RouterNews()">Chi tiết ...</a>
      </div>
    </section>
    <div class="col-md-offset-5 col-md-2 col-sm-offset-4 col-sm-4 col-xs-12">
      <button class="btn"> Xem Thêm </button>
    </div>
  </div>
</div>
